*{padding: 0; box-sizing: border-box; margin: 0;}

body{background-color: #e9b1b1;
    font-family: Arial, Helvetica, sans-serif;
    background:url('fork.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height:100%;
    width: 100%;
    margin:auto;}

html{height:100%;}
   

.wrapper{
    margin: 0 auto ;
    padding: 25px;
    width: 500px;
    height: 500px;
}

.wrapper h2{margin-bottom: 20px;
    color: brown;
    text-align: center;
    padding: 10px;
    font-size: 24px;
    background-color: #e9b1b1;
    border: 5px solid #333;}

.input-group{margin-bottom: 8px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 5px 0;}

.input-box{
    width: 100%;
    margin-right: 12px;
    position: relative;}

h4{
    color: rgba(170, 17, 17, 0.911);
    margin-bottom: 10px;}

.input-box:last-child{margin-right: 0;}
 .name{
     padding: 14px 10px 14px 50px;
     width:100%;
     background-color: #e9b1b1;
     border: 1px solid gray;
     outline: none;
     letter-spacing: 1px;
     transition: 0.3s;
     border-radius: 3px;
     color: #333;
 }

 .input-box .icon{width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    color: #333;
    border-radius: 3px;
    transition: 0.3s;
    font-size: 20px;
    pointer-events: none;
    border:1px solid gray;
    border-right:none}

.name:focus + .icon{
    background-color: gray;
    color:rgb(226, 188, 116);
    border-right: 1px solid gray;
    border: none;
    transition: 1s;
}
.dob{width: 30%;
    padding: 14px;
    text-align: center;
    background-color: rgb(163, 123, 123);
    transition: 0.3s;
    outline: none;
    border: 1px solid gray;
    border-radius: 3px;}

.radio{display: none;}

.radio:checked + label{
    background-color:rgb(167, 129, 129);
    color: rgb(165, 118, 118);
    transition: 0.5s;}

.input-box label{width: 50%;
    padding:13px;
    background-color: rgb(182, 142, 142);
    display: inline-block;
    float:left; 
    text-align:center;
    border: 1px solid rgb(189, 149, 149);}
 .input-box select{
     display: inline-block;
     width: 50%;
     padding: 12px;
     background-color: rgb(185, 144, 144);
     float:left;
     text-align: center;
     font-size: 16px;
     outline: none;
     border:1px solid gray;
     cursor: pointer;
     transition: all 0.2s ease;
 }
 button{
     width: 100%;
     background: transparent;
     border: none;
     background: gray;
     color: rgb(146, 143, 143); 
     padding: 15px;
     border-radius: 4px;
     font-size: 16px;
     transition: all 0.35s ease;}

button:hover{cursor: pointer;
background: orange;}
 
@media only screen and (min-width: 768px) {
    
 body{ background:url('fork.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height:100%;
    width: 100%;}
  }

  @media only screen and (min-width: 600px) {
    body{ background:url('fork.jpg');
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
        height:100%;
        width: 100%;}     
  }


  @media only screen and (min-width: 320px) {
      body{ background:url('fork.jpg');
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
        height:100%;
        width: 100%;}    
  }

